body {
  margin: 0;
}

nav {
  background-color: purple;
  color: white;
}

ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

li {
  list-style-type: none;
  font-size: 1.2rem;
  padding: 15px;
}

li:hover {
  background-color: hsl(300, 50%, 34%);
  cursor: pointer;
}

@media (max-width: 750px) {
  ul {
    justify-content: space-between;
  }
  li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    
  }
}

@media (max-width: 500px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    display: flex;
    width: 100vw;
    align-items: center;
  }
}